.card-container {
	background-color: white;
	height: auto;
	border-radius: 14px;
	
}

header {
	background-image: url("../../assets/images/DUT-Logo_new.png");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: contain;
	text-align: center;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

.img2 {
	margin: auto;
	width: 130px;
	border: solid white 4px;
	border-radius: 50%;
	margin-top: 100px;
    
}

.bold-text {
	font-weight: bold;
	font-size: 1.1rem;
	text-align: center;
	padding: 10px 20px 0px 20px;
}

.normal-text {
	font-weight: normal;
	font-size: 0.95rem;
	color: hsl(0, 0%, 50%);
	text-align: center;
	padding-bottom: 10px;
}

/* SOCIAL STATS */
.smaller-text {
	font-weight: normal;
	font-size: 0.7rem;
	color: hsl(0, 0%, 50%);
	text-align: center;
	letter-spacing: 1px;
	padding-bottom: 20px;
	line-height: 5px;
}

.summary-container {
	display: flex;
	border-top: solid rgb(206, 206, 206) 1px;
	text-align: center;
}

.today {
	flex: 1;
}

.week {
	flex: 1;
}

.month {
	flex: 1;
}
.overall {
	flex: 1;
}